<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>3rd Eye</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<%- include('title.ejs');-%>