
<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
      <a class="navbar-brand" href="/">Third Eye</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <%if(!currentUser){%>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
          <%}else{%>
          <li class="nav-item"><a class="nav-link" href="#">Signed in as <%=currentUser.username%></a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          <%}%>
            </ul>
          </div>  
        </nav>
       <div class="container">
  <%if(error&&error.length>0){%>
          <div class="alert alert-danger" role="alert">
            <%=error%>
          </div>
  <%}%>
  <%if(success&&success.length>0){%>
          <div class="alert alert-success" role="alert">
            <%=success%>
          </div>
  <%}%>
       </div>