<%- include('partials/header.ejs');-%>
    <div class="loginbox">
    <img src="avatar.png" class="avatar">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <p>Username</p>
            <input type="text" name="username" class="text" autocomplete="off" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" name="password" class="text" placeholder="Enter Password" autocomplete="current-password" required>
            <input type="Submit" name="submit" id="sub" value="Login">
        </form>
    </div>

<%- include('partials/footer.ejs');-%>